{{ $sidebar := .Site.Data.sidebar }}
{{ $social := .Site.Data.social }}
<section id="sidebar" class="sidebar d-flex align-items-center p-5">
  <div class="main-info">

    <img src="{{ $sidebar.displayPicture }}" class="rounded-circle mb-3" width="160px">

    <h1 class="heading">{{ $sidebar.title }} <span class="highlight">{{ $sidebar.highlightedText }}</span></h1>
    <p class="text-muted">{{ $sidebar.description }}</p>

    <div class="social my-4">

      {{ range $key, $value := $social }}
        <a target="_blank" href="{{ $value }}">
          <i class="fab fa-{{ $key }}"></i>
        </a>
      {{ end }}

    </div>
      <button class="button email">
        <a href="#contact">Contact</a>
      </button>
    <script>
      window.fbAsyncInit = function() {
      FB.init({
      appId : '95100348886',
      xfbml : true,
      version : 'v2.6'
      });
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>

    <div class="fb-page"
    data-href="https://www.facebook.com/charlesedouard.toutain/"
    data-tabs="messages"
    data-width="400"
    data-height="300"
    data-small-header="true">
    <div class="fb-xfbml-parse-ignore">
    <blockquote></blockquote>
    </div>
    </div>
  </div>
</section>
