a{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800;
    text-transform: uppercase;
    color:#212529;
}

.button {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding: 0.8em 1.4em;
    padding-right: 4.7em;
    border: none;
    transition: 0.2s;
}

.button:before,
.button:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    transition: 0.2s;
    transform-origin: 50% 60%;
}


.button:hover {
    background: #21D4FD;
}

.button:active,
.button:focus {
    background: #21D4FD;
    outline: none;
}

.button {
    min-width: 15em;
}


.email {
    background: #B721FF;
}

.email:hover {
    background: #21D4FD;
}

.email:active,
.email:focus {
    background: #21D4FD;
}

.email:after {
    content: "\F0E0";
}

.email:hover:after {
    -webkit-animation: none;
    -webkit-transform: skew(-20deg);
    animation: none;
    transform: skew(-20deg);
    text-indent: 0.1em;
}


@-webkit-keyframes bounceright {
    from {
        -webkit-transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(3px);
    }
}

@-webkit-keyframes wiggle {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(30deg);
    }
}

@keyframes bounceright {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(3px);
    }
}

@keyframes wiggle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(30deg);
    }
}

section.aqua{
    background-color: #21D4FD;
    background-image: linear-gradient(315deg, #21D4FD 0%, #B721FF 100%);


}

section.green{
    background-color: #21D4FD;
    background-image: linear-gradient(147deg, #21D4FD 0%, #B721FF 100%);
}

section.blue {
    background-color: #21D4FD;
}

.progress .bg-blue{
    background-color: #21D4FD;
}

.highlight{
    background-color: #B721FF;
}

.fa, .fas{
    color:#B721FF;
}

.violet{
    background-color: #B721FF;
}