a{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800;
    text-transform: uppercase;
    color:#212529;
}

.button {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding: 0.8em 1.4em;
    padding-right: 4.7em;
    border: none;
    transition: 0.2s;
}

.button:before,
.button:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    transition: 0.2s;
    transform-origin: 50% 60%;
}


.button:hover {
    background: #00fefe;
}

.button:active,
.button:focus {
    background: #00fefe;
    outline: none;
}

.button {
    min-width: 15em;
}


.email {
    background: #00fefe;
}

.email:hover {
    background: #aaffa7;
}

.email:active,
.email:focus {
    background: #aaffa7;
}

.email:after {
    content: "\F0E0";
}

.email:hover:after {
    -webkit-animation: none;
    -webkit-transform: skew(-20deg);
    animation: none;
    transform: skew(-20deg);
    text-indent: 0.1em;
}


@-webkit-keyframes bounceright {
    from {
        -webkit-transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(3px);
    }
}

@-webkit-keyframes wiggle {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(30deg);
    }
}

@keyframes bounceright {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(3px);
    }
}

@keyframes wiggle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(30deg);
    }
}
